name: Build

on:
  pull_request:
    types:
      - closed

jobs:

  if-merged:
    if: github.event.pull_request.merged == true

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker build -t docker-test .